@page "/about"
<div id="main">
		<h2>Ласкаво просимо до нашого Schedule!</h2>
		<p>Генетичний Алгоритм, який спростить побудову розкладу для будь якого факультету<br>
			Над проектом працювали Бородайкевич Євген, Кенийз Віталій та Курочкін Денис.<br>
			Процес розробки проходив під час відео "call-y", тому робота розподілена порівну.
		</p>
</div>