@page "/students"
@using Schedule.DAL.Context
@using Schedule.DAL.Entities
@using Microsoft.EntityFrameworkCore
@inject ScheduleContext Context

<h1>Students</h1>
<hr/>
<RadzenGrid EmptyText="No students" Data="_students" TItem="Student">
    <Columns>
        <RadzenGridColumn TItem="Student" Property="Name" Title="Name"/>
        <RadzenGridColumn TItem="Student" Property="Specialty" Title="Specialty">
            <Template Context="student">
                @student.Specialty.Name
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

@code {

    private List<Student> _students;

    protected override void OnInitialized()
    {
        _students = Context.Students.Include(s => s.Specialty).OrderBy(s => s.Specialty.Name).ToList();
    }

}