@page "/subjects"
@using Schedule.DAL.Context
@using Schedule.DAL.Entities
@using Microsoft.EntityFrameworkCore
@inject ScheduleContext Context

<h1>Subjects</h1>
<hr/>
<RadzenGrid EmptyText="No subjects" Data="_subjects" TItem="Subject">
    <Template Context="subject">
        <SubjectClasses SubjectId="@subject.Id"/>
    </Template>
    <Columns>
        <RadzenGridColumn TItem="Subject" Property="Name" Title="Name"/>
    </Columns>
</RadzenGrid>

@code {

    private List<Subject> _subjects;

    protected override void OnInitialized()
    {
        _subjects = Context.Subjects.Include(s => s.Classes).OrderBy(s => s.Name).ToList();
    }

}